<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand beats-brand">b(EATS)</h3>
          <nav>
            <ul class="nav masthead-nav">
              <% if current_user %>
                <li><a class="greeting-image-cover" href="https://www.spotify.com/us/account/overview/"><img class="user-icon" src=<%= current_user.image || "/assets/user-icon.png" %>></a></li>
                <li><a class="greeting-text-cover" href="https://www.spotify.com/us/account/overview/"><%= "Hello, #{current_user.name}." %></a></li>
                <li class="logout-cover"><%= link_to "Logout", logout_path, method: :delete %></li>
              <% else %>
                <li><a href=<%= login_path %>>Sign In With Spotify</a></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading cover-text beats-title">b(EATS)</h1>
        <p class="lead cover-text">Discover the best tunes to match your cravings</p>
        <p class="lead cover-text">
          <a href="<%= suggestions_path %>" class="btn btn-lg btn-default">See Top 20</a>
        </p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Tunes & Takeout project by Lisa.</p>
        </div>
      </div>

    </div>

  </div>

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
