<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Suggestion #<%= number %></h3>
  </div>

  <table class="table">
    <tbody>
      <tr>
        <td class="vert-align left-col">
          <p class="favorite">
          <% if current_user %>

            <% if !favorited.include?(suggestion["id"]) %>
              <%= link_to favorite_suggestion_path(suggestion["id"]), method: :post, class: "favorite-a" do %>
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
              <% end %>
            <% elsif current_page?(controller: "suggestions", action: "favorites" ) %>
              <%= link_to unfavorite_suggestion_path(suggestion["id"]), method: :delete, class: "favorite-a" do %>
                <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
              <% end %>
            <% end %>
          <% end %>
          </p>
        </td>

        <td>
          <div class="media">
            <a href="<%= food.url %>">
              <div class="media-left media-middle">
                <img class="media-object" src="<%= food.image_url %>" alt="the business #{f.name}">
              </div>
              <div class="media-body">
                <h4 class="media-heading"><%= food.name %></h4>
                <img class="rating" src="<%= food.rating %>">
                  <% food.address.each do |line| %>
                    <p class="address-spacing"><%= line %></p>
                  <% end %>
                  <p class="phone"><%= food.phone.nil? ? " " : food.phone %></p>
              </div>
            </a>
          </div>
        </td>

        <td>
          <div class="media">
            <a href="<%= music.url %>">
              <div class="media-left media-middle">
                  <img class="media-object spotify-image" src="<%= music.image %>">
              </div>
              <div class="media-body">
                <h4 class="media-heading"><%= music.name %></h4>
                <p>Type: <%= music.type %></p>
              </div>
            </a>
          </div>
        </td>

        <td>
          <iframe src="https://embed.spotify.com/?uri=<%= music.uri %>" width="300" height="80" frameborder="0" allowtransparency="true" class="player"></iframe>
        </td>
      </tr>
    </tbody>
  </table>
</div>
